html, body {
  margin: 0;
  max-width: 100%;
}

#contentArea {
  text-align: center;
  padding: 2%;
  max-width: 100%;
}

.template {
  display: none;
}

.mdc-top-app-bar__row {
  background-color: #B3DDF2;
}

.mdc-top-app-bar__title {
  font-size: 190%;
}

.mdc-typography--body2 {
  padding: 20px;
}

.mdc-image-list {
  max-width: 50%;
}

.mdc-list-item__text {
  text-align: left;
}

.mdc-list-item__secondary-text {
  white-space: normal;
}
