html, body {
  margin: 0;
  display: flex;
  max-width: max-content;
}

#contentArea {
  padding-left: 24px;
}

.template {
  display: none;
}

.mdc-top-app-bar__row {
  background-color: #B3DDF2;
}

.mdc-image-list {
  max-width: 35%;
}

.mdc-image-list__item {
  margin: 2.5%;
}

/* ====================== Media Queries ====================== */
@media screen and (max-width: 1100px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 650px) and (max-width: 768px) {}

@media screen and (max-width: 635px) {}

@media screen and (min-width: 426px) {}

@media screen and (max-width: 400px) {}
